{% extends 'faculty_base.html' %}

{% block content %}

<h2 class="page-title">
Edit Student
</h2>

<form method="POST">

<input
type="text"
name="name"
class="form-control mb-3"
value="{{ student['Name'] }}">

<input
type="text"
name="branch"
class="form-control mb-3"
value="{{ student['Branch'] }}">

<input
type="text"
name="section"
class="form-control mb-3"
value="{{ student['Section'] }}">

<input
type="text"
name="mobile"
class="form-control mb-3"
value="{{ student['Mobile'] }}">

<input
type="email"
name="email"
class="form-control mb-3"
value="{{ student['Email'] }}">

<button
type="submit"
class="btn btn-success">

Save Changes

</button>

</form>

{% endblock %}
